#progress {
  font-family: inherit;
  font-weight: 300;
  height: 50px;
  width: 50px;
  background: var(--main-background);
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 0;
  border: none;
  z-index: 99;
  cursor: pointer;
}

#progress-value {
  background-color: transparent;
  opacity: 0;
}

#arrow-up {
  position: absolute;
  opacity: 1;
}

@keyframes opacUp {
  to {
    opacity: 1;
  }
}

@keyframes opacDown {
  to {
    opacity: 0;
  }
}

@keyframes toTopButton {
  from {
    bottom: -60px;
  }
  to {
    bottom: 25px;
  }
}
@keyframes toDownButton {
  from {
    bottom: 25px;
  }
  to {
    bottom: -60px;
  }
}
