.skills-container {
  background: transparent;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.skills-info {
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
  margin: 50px 0;
}

.skills-grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: repeat(4, 200px);
}

.current-info {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 300;
  margin: 50px 0;
}

.current-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: 200px;
}

.skills-container i {
  font-size: clamp(24px, 5vw, 60px);
  transition: transform 0.5s;
}

.skills-container i:hover {
  transform: scale(1.5);
}

.icon-container,
.icon-container-current {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.skills-progress-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 2;
}

.skills-icon {
  z-index: 3;
}

.skills-progress-percent {
  position: absolute;
  bottom: 0;
  font-weight: 300;
  display: none;
  font-size: clamp(12px, 2vw, 24px);
  z-index: 2;
  margin: 0;
}

.skills-progress-info {
  font-size: 12px;
  font-weight: 300;
  margin: 50px 0;
}

.box-shad {
  animation: boxAnimation 1s forwards ease-in;
}

@keyframes boxAnimation {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}

.text-shad {
  animation: textAnimation 2s 1s infinite linear;
}

@keyframes textAnimation {
  0% {
    text-shadow: 0 0 0 tomato;
  }
  50% {
    text-shadow: 0 0 20px tomato;
  }
  100% {
    text-shadow: 0 0 0 tomato;
  }
}

@media screen and (max-width: 1100px) {
  .skills-grid-container {
    gap: 20px;
    grid-template-columns: repeat(4, 150px);
  }
  .current-grid {
    gap: 20px;
    grid-template-columns: 150px;
  }
  .icon-container,
  .icon-container-current {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .skills-grid-container {
    gap: 15px;
    grid-template-columns: repeat(4, 100px);
  }
  .current-grid {
    gap: 15px;
    grid-template-columns: 100px;
  }
  .icon-container,
  .icon-container-current {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .skills-grid-container {
    gap: 10px;
    grid-template-columns: repeat(4, 75px);
  }
  .current-grid {
    gap: 10px;
    grid-template-columns: 75px;
  }
  .icon-container,
  .icon-container-current {
    width: 75px;
    height: 75px;
  }
}
