.form-container {
  font-family: inherit;
  text-align: center;
  background: transparent;
  padding: 100px 0;
  color: var(--text-color);
}

input,
textarea {
  font-family: inherit;
  font-weight: 300;
  color: var(--text-color);
}

.info-contact-me {
  text-align: center;
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
  margin: 50px 0;
}

.input-info {
  width: 250px;
  padding: 20px;
  background: var(--main-background);
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  transition: border 0.3s;
}

.input-subject-info {
  width: 550px;
  padding: 20px;
  border: none;
  background: var(--main-background);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-message-info {
  font-family: inherit;
  resize: none;
  background: var(--main-background);
  border: none;
  padding: 20px;
  width: 550px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--link-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--link-color);
}

.form-submit-button {
  margin: 50px 0;
  font-weight: 300;
  font-size: 16px;
  border: none;
  padding: 20px 60px;
  cursor: pointer;
  background: var(--main-background);
  border-radius: 10px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.form-submit-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.contact1-container,
.contact2-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .input-info {
    width: 150px;
    padding: 15px;
  }
  .input-subject-info,
  .input-message-info {
    width: 340px;
    padding: 15px;
  }
  .form-submit-button {
    font-size: 14px;
    padding: 10px 40px;
  }
}
