.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0 25px;
  z-index: 60;
  transition: all 0.3s;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.logo-header {
  position: absolute;
  width: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.burger-button {
  display: none;
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 0;
}

.nav {
  display: flex;
  width: 50%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  font-size: 16px;
  font-weight: 300;
  color: var(--link-color);
  text-decoration: none;
  opacity: 0;
  transition: all 0.2s;
}

a:hover {
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .burger-button {
    display: inline;
  }

  .nav {
    display: none;
  }
}
