.h0 {
  background-color: #012459 !important;
}
.h1 {
  background-color: #003972 !important;
}
.h2 {
  background-color: #003972 !important;
}
.h3 {
  background-color: #004372 !important;
}
.h4 {
  background-color: #004372 !important;
}
.h5 {
  background-color: #016792 !important;
}
.h6 {
  background-color: #07729f !important;
}
.h7 {
  background-color: #12a1c0 !important;
}
.h8 {
  background-color: #74d4cc !important;
}
.h9 {
  background-color: #efeebc !important;
}
.h10 {
  background-color: #fee154 !important;
}
.h11 {
  background-color: #fdc352 !important;
}
.h12 {
  background-color: #ffac6f !important;
}
.h13 {
  background-color: #fda65a !important;
}
.h14 {
  background-color: #fd9e58 !important;
}
.h15 {
  background-color: #f18448 !important;
}
.h16 {
  background-color: #f06b7e !important;
}
.h17 {
  background-color: #ca5a92 !important;
}
.h18 {
  background-color: #5b2c83 !important;
}
.h19 {
  background-color: #371a79 !important;
}
.h20 {
  background-color: #28166b !important;
}
.h21 {
  background-color: #192861 !important;
}
.h22 {
  background-color: #040b3c !important;
}
.h23 {
  background-color: #040b3c !important;
}
