.footer {
  margin-top: auto;
  height: 500px;
  width: 100%;
  background: rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  border-radius: 50px 50px 0 0;
  text-align: center;
}

.logo-footer {
  width: 100px;
}

.link-logo-footer {
  display: inline-block;
  margin: 0 auto;
}

.main-quote {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.only-word {
  display: inline-block;
  width: 90px;
  animation: opacityFor 2s infinite;
}

@keyframes opacityFor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: clamp(24px, 3vw, 30px);
}

.copyright {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 300;
}
