.footer {
  margin-top: auto;
  min-height: 75vh;
  width: 100%;
  background: var(--main-background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 50px 50px 0 0;
  text-align: center;
  color: var(--text-color);
  box-sizing: border-box;
}

.logo-footer {
  width: 90px;
}

.link-logo-footer {
  height: 90px;
}

.main-quote {
  margin-top: auto;
  margin-bottom: auto;
}

.only-word {
  display: inline-block;
  width: 90px;
  animation: revealWord 2s infinite ease-in-out;
}

@keyframes revealWord {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info-icon {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: clamp(24px, 3vw, 30px);
}

.info-icon a {
  color: var(--link-color);
  transition: all 0.2s;
}

.info-icon a:hover {
  color: var(--text-color);
}

.copyright {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 300;
}

.scroll-pick {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  width: 200px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  border-radius: 10px;
}

.info-input {
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.info-input2 {
  font-weight: 700;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.input-section {
  display: flex;
  margin-top: 35px;
}

.input-section2 {
  display: flex;
  margin-top: 35px;
}

.container::-webkit-scrollbar {
  display: none;
}

.container input {
  font-family: "Comfortaa", sans-serif;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  scroll-snap-align: center;
  background: none;
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--link-color);
  transition: color 0.2s;
}

.container input:hover {
  color: var(--text-color);
}

.container2 {
  width: 200px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  border-radius: 10px;
}

.container2::-webkit-scrollbar {
  display: none;
}

.container2 input {
  font-family: "Comfortaa", sans-serif;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  scroll-snap-align: center;
  background: none;
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--link-color);
  transition: color 0.2s;
}

.container2 input:hover {
  color: var(--text-color);
}

.container2 .empty-input {
  font-family: "Comfortaa", sans-serif;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  scroll-snap-align: center;
  background: none;
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--link-color);
  transition: color 0.2s;
}
