.skills-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  color: var(--text-color);
  box-sizing: border-box;
}

.skills-info {
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
  margin: 25px 0;
}

.skills-grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: repeat(4, 200px);
  transition: all 0.3s;
}

.current-info {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 300;
  margin: 25px 0;
}

.current-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: 200px;
  transition: all 0.3s;
}

.skills-container i {
  font-size: clamp(24px, 5vw, 60px);
  transition: transform 0.5s;
}

.skills-container i:hover {
  transform: scale(1.5);
}

.icon-container,
.icon-container-current {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  background: var(--main-background);
  cursor: pointer;
}

.skills-progress-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
  z-index: 2;
}

.skills-icon {
  z-index: 3;
}

.skills-progress-percent {
  position: absolute;
  bottom: 0;
  font-weight: 300;
  display: none;
  font-size: clamp(12px, 2vw, 24px);
  z-index: 2;
  margin: 0;
}

.skills-progress-info {
  font-size: 12px;
  font-weight: 300;
  margin: 25px 0;
}

@media screen and (max-width: 1100px) {
  .skills-grid-container {
    gap: 20px;
    grid-template-columns: repeat(4, 150px);
  }
  .current-grid {
    gap: 20px;
    grid-template-columns: 150px;
  }
  .icon-container,
  .icon-container-current {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .skills-grid-container {
    gap: 15px;
    grid-template-columns: repeat(4, 100px);
  }
  .current-grid {
    gap: 15px;
    grid-template-columns: 100px;
  }
  .icon-container,
  .icon-container-current {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .skills-grid-container {
    gap: 10px;
    grid-template-columns: repeat(4, 75px);
  }
  .current-grid {
    gap: 10px;
    grid-template-columns: 75px;
  }
  .icon-container,
  .icon-container-current {
    width: 75px;
    height: 75px;
  }
}
